version: "3.9"

services: 
  api-gateway: 
    build:
      context: .
      dockerfile: apps/api-gateway/Dockerfile
      args:
        MONGODB_URI: ${MONGODB_URI}
    ports:
      - "80:8080"
    environment:
      SELLER_UI_URL: ${SELLER_UI_URL}
      USER_UI_URL: ${USER_UI_URL}
      AUTH_SERVICE_URL: ${AUTH_SERVICE_URL}
      PRODUCT_SERVICE_URL: ${PRODUCT_SERVICE_URL}
      ORDER_SERVICE_URL: ${ORDER_SERVICE_URL}
    depends_on:
      - auth-service
      - product-service
    restart: always

  auth-service:
    build:
      context: .
      dockerfile: apps/auth-service/Dockerfile
      args:
        MONGODB_URI: ${MONGODB_URI}
    expose:
      - "6001"
    environment:
      SELLER_UI_URL: ${SELLER_UI_URL}
      USER_UI_URL: ${USER_UI_URL}
      ACCESS_TOKEN_SECRET: ${ACCESS_TOKEN_SECRET}
      REFRESH_TOKEN_SECRET: ${REFRESH_TOKEN_SECRET}
      MONGODB_URI: ${MONGODB_URI}
      REDIS_URL: ${REDIS_URL}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      STRIPE_PUBLISHABLE_KEY: ${STRIPE_PUBLISHABLE_KEY}
      STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET}
    restart: always
  
  product-service:
    build:
      context: .
      dockerfile: apps/product-service/Dockerfile
      args:
        MONGODB_URI: ${MONGODB_URI}
    expose:
      - "6002"
    environment: 
      SELLER_UI_URL: ${SELLER_UI_URL}
      USER_UI_URL: ${USER_UI_URL}
      ACCESS_TOKEN_SECRET: ${ACCESS_TOKEN_SECRET}
      REFRESH_TOKEN_SECRET: ${REFRESH_TOKEN_SECRET}
      MONGODB_URI: ${MONGODB_URI}
      REDIS_URL: ${REDIS_URL}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      STRIPE_PUBLISHABLE_KEY: ${STRIPE_PUBLISHABLE_KEY}
      STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET}
    restart: always
      
  order-service:
    build:
      context: .
      dockerfile: apps/order-service/Dockerfile
      args:
        MONGODB_URI: ${MONGODB_URI}
    expose:
      - "6004"
    environment:
      SELLER_UI_URL: ${SELLER_UI_URL}
      USER_UI_URL: ${USER_UI_URL}
      ACCESS_TOKEN_SECRET: ${ACCESS_TOKEN_SECRET}
      REFRESH_TOKEN_SECRET: ${REFRESH_TOKEN_SECRET}
      MONGODB_URI: ${MONGODB_URI}
      REDIS_URL: ${REDIS_URL}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      STRIPE_PUBLISHABLE_KEY: ${STRIPE_PUBLISHABLE_KEY}
      STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET}
    restart: always

  kafka-service:
    build:
      context: .
      dockerfile: apps/kafka-service/Dockerfile
      args:
        MONGODB_URI: ${MONGODB_URI}
    expose:
      - "6004"
    environment:
      SELLER_UI_URL: ${SELLER_UI_URL}
      USER_UI_URL: ${USER_UI_URL}
      ACCESS_TOKEN_SECRET: ${ACCESS_TOKEN_SECRET}
      REFRESH_TOKEN_SECRET: ${REFRESH_TOKEN_SECRET}
      MONGODB_URI: ${MONGODB_URI}
      REDIS_URL: ${REDIS_URL}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      STRIPE_PUBLISHABLE_KEY: ${STRIPE_PUBLISHABLE_KEY}
      STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET}
    restart: always
      
