<html>
    <head>
        <title>Multi vendor OTP</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style type="text/css">
            body {
                margin: 0;
                padding: 0;
                min-width: 100%;
                font-family: Aria, sans-serif;
                font-size: 16px;
                line-height: 1.5;
            }
        </style>
    </head>
    <body>
        <div class="email-wrapper">
            <div class="email-header">
                <h1>Multi Vendor Ecom - Reset Password OTP</h1>
            </div>
            <div class="email-body">
                <p>Hello <%= name %>,</p>
                <p>Thankyou for registering with this app. To reset your account password, please use the following activation code: </p>
                <h2><%= otp %></h2>
                <p>
                    This code will expire in 5 minutes.
                </p>
                <p>
                    If you did not ask for reset password otp, please ignore this email.
                </p>
                
            </div>
        </div>
    </body>
</html>