name: Build & Push Images

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build deps image
        run: docker build -f docker/deps.Dockerfile -t parzivalprime/my-node-deps .

      - name: Build auth-service
        run: docker build -f apps/auth-service/Dockerfile -t parzivalprime/auth-service .

      - name: Push images
        run: |
          docker push parzivalprime/my-node-deps
          docker push parzivalprime/auth-service
